:root {
  --main-colour: #25c8b1;
  --secondary-colour: #2c75bc;

  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue),var(--sat),20%);
  --title-color-dark: hsl(var(--hue),var(--sat),0%);
  --text-color: hsl(var(--hue),var(--sat),46%);
  --body-color: hsl(var(--hue),var(--sat),98%);
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --body-font: Lato, "sans-serif"; ;
  --normal-font-size: 0.938rem;
}

body {
  background-color: var(--body-color);
  /* background-color: #F7F4F4; */
  /* font-family: Lato, "sans-serif"; */
  font-family: var(--body-font);
  padding: 5%;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/* ------ Header/Navbar ------ */

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: larger;
  padding-bottom: 0;
}

.navbar__ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.navbar__ul .name {
  font-size: 23px;
  font-weight: 600;
}

.navbar__ul a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.navbar__ul a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar__ul a:hover:after {
  width: 100%; 
  left: 0; 
}

.navbar__ul li {
  width: 50%;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding-bottom: 0;
  }

  .center {
    text-align: center;
    /* margin: 0 auto; */
  }
}

@media screen and (max-width: 500px) {
  .navbar__ul a {
    padding: 15px 10px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    min-width: 600px;
  }

  .navbar {
    width: 100%;
    display: flex;
    /* padding-bottom: 40px; */
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
  }

  .navbar__ul li {
    padding: 5px 15px 15px 10px;
    background-color: transparent;
  }
}

/* ------ About Me ------ */

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 968px;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .about-me-container {
    flex-direction: row;
  }
}

.blurb {
  color: var(--text-color);
  /* font-size: var(--normal-font-size); */
  /* font-size: large; */
  max-width: 500px;
  text-align: justify;
}

.blurb p {
  /* font-style: italic; */
  margin-bottom: 2rem;
  font-size: large;
}

.profile-pic img {
  width: 75%;
  /* height: 75%; */
  border-radius: 50%;
  margin: auto 10%;
}

/* .about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.blurb {
  color: var(--text-color);
  font-size: large;
  max-width: 500px;
  text-align: justify;
}

.blurb p {
  font-style: italic;
  margin-bottom: 2rem;
}

.profile-pic {
  width: 40%;
  text-align: center;
}

.profile-pic img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 10% 10% 25% 10%;
} */

.button {
  border-radius: 1rem;
  border: 1px solid black;
  margin: 0 auto;
  background-color: black;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 1.25rem 2rem;
}

/* ------ Projects ------ */

.projects-container {
  max-width: 968px;
  margin: auto;
  /* text-transform: uppercase; */
  text-align: center;
  padding: 5%;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 32px;
}

.card {
  /* border: 1px solid rgba(0, 0, 0, .1); */
  background-color: #fff;
  box-shadow: 2.4px 2.4px 3.6px rgba(0, 0, 0, .15);
  padding: 1.25rem;
  text-align: start;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
}

.card a {
  color: var(--text-color);
  text-decoration: none;
}

/* ------ Skills ------ */
.skills {
  text-align: center;
  margin-top: 2rem;
}

/* .skills h2 {
  font-family: var(--font-main);
  text-transform: uppercase;
} */

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.skills__item {
  margin-bottom: 1rem;
  cursor: pointer;
}

.skills__item img:hover {
  transform: scale(1.1);
  transition: ease-out 0.3s;
}

.skills img {
  max-width: 80px;
  margin-bottom: -5px;
}

/* ------ Footer ------ */

footer {
  /* font-family: var(--font-main); */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
  /* background-color: var(--clr-background); */
}

.footer-container {
  margin: 5%;
}

.footer__nav {
  width: 100%;
  display: flex;
  min-height: 30px;
  padding: 10px;
  bottom: 0;
  text-align: center;
  justify-content: space-between;
}

/* footer h2 {
  text-transform: uppercase;
  margin-top: 2rem;
} */

.footer__nav-links {
  display: none;
}

.footer__nav-links li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.footer__nav-hr {
  width: 85%;
  margin-bottom: 40px;
}

footer p {
  max-width: 400px;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.to-top {
  list-style-type: none;
  /* margin-right: 10px; */
  justify-self: flex-end;
  text-transform: uppercase;
}

.to-top a {
  text-decoration: none;
  color: black;
}