<!DOCTYPE html>
<html lang="en">

<!-- https://codepen.io/Zamo-M/details/gOyjPGJ -->

<!-- https://brandonban.com/#projects -->

<head>
    <meta name="viewport" content="width=device-width">
    <title>Derek Eklund | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8f53b14257.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <h1>Derek Eklund</h1>  
            <ul class="navbar__ul">
                <!--<li class="navbar__li">
                    <a href="{{ url_for('about') }}" class="nav-link">About</a>
                    <a href="#about" class="nav-link">About</a>
                </li>-->
                <li class="navbar__li">
                    <!--<a href="{{ url_for('index') }}" class="nav-link">Projects</a>-->
                    <a href="#projects" class="nav-link">Projects</a>
                </li>
                <li class="navbar__li">
                    <!--<a href="{{ url_for('resume') }}" class="nav-link">Resume</a>-->
                    <a href="#skills" class="nav-link">Skills</a>
                </li>
                <li class="navbar__li">
                    <!--<a href="{{ url_for('contact') }}" class="nav-link">Contact</a>-->
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- About Me -->
    <div class="about-me-container" id="about">

        <div class="profile-pic">
            <img src="{{ url_for('static', filename='profile-pic.jpg') }}" alt="Profile Picture">
        </div>

        <div class="blurb">
            <p>Welcome to my portfolio! I'm a Python Developer and Automation Specialist, currently working in the Biotechnology space--I tell the robots what to do to help expedite Vaccine Clinical Research trials.</p>

            <p>Experienced in web-scraping with Selenium, data analysis with Pandas and NumPy, visualization with Matplotlib and Seaborn, and the Flask and Django frameworks. Interested in programming, finance, and science. Check out my projects!</p>

            <!--
            <p>Download my resume <a href="{{ url_for('static', filename='Resume - Derek Eklund.pdf') }}" download="Resume - Derek Eklund">here</a>.</p>
            -->

            <div class="center">
              <a href="{{ url_for('static', filename='Resume - Derek Eklund.pdf') }}" download="Resume - Derek Eklund" class="button">Download Resume</a>
            </div>
            

        </div>

        
    </div>

    <!-- Projects -->
    <div class="projects-container" id="projects">
      <h2>Projects</h2>
      <div class="project-cards">
        <div class="card">
          <img src="{{ url_for('static', filename='duck.jpg') }}" class="card-img" alt="Project 1">
          <h3>Project 1</h3>
          <a href="#">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='fish.jpg') }}" class="card-img" alt="Project 2">
          <h3>Project 2</h3>
          <a href="#">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='dino.jpg') }}" class="card-img" alt="Project 3">
          <h3>Project 3</h3>
          <a href="#">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='brain.jpg') }}" class="card-img" alt="Project 4">
          <h3>Project 4</h3>
          <a href="#">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='rabbit.jpg') }}" class="card-img" alt="Project 5">
          <h3>Project 5</h3>
          <a href="#">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='vacation.jpg') }}" class="card-img" alt="Project 6">
          <h3>Project 6</h3>
          <a href="#">Link <i class="icon fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <!-- Skills -->
    <section class='skills' id='skills'>
      <h2>Skills</h2>
      <article class="skills-container">
        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='python.svg') }}" alt="Python">
          <p>Python</p>
        </div>

        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='flask.svg') }}" alt="Flask">
          <p>Flask</p>
        </div>

        <!--
        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='sql.svg') }}" alt="SQL">
          <p>SQL</p>
        </div>
        -->

        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='html.svg') }}" alt="HTML5">
          <p>HTML5</p>
        </div>

        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='css.svg') }}" alt="CSS">
          <p>CSS</p>
        </div>

        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='django.svg') }}" alt="Django">
          <p>Django</p>
        </div>

        <div class="skills__item" data-aos='fade-up'>
          <img src="{{ url_for('static', filename='github.svg') }}" alt="GitHub">
          <p>GitHub</p>
        </div>
       
     </article>
    </section>

    <!-- Contact -->
    <footer>
      <div class="footer-container">
        <div class="footer__text-container" id='contact'>
          <h2>Contact</h2>
          <p>Let's connect if you want to collaborate...</p>
        </div>
        <div class="footer__text-container1">
          <p><span class='phone'>Phone</span> <strong>571-438-0238</strong></p>
          <p><span class='email'>Email</span> <strong>derekeklund32@gmail.com</strong></p>
        </div>
      </div>
      <hr class='footer__nav-hr'>
      <nav class="footer__nav">
        <p class='to-top'><a href="#top"><strong>Derek</strong></a></p>
        <ul class='footer__nav-links'>
          <li><a href="#home">Home</a></li>
          <li><a href="#portfolio">Projects</a></li>
        </ul>
        <p class='to-top'><a href="#top"><strong>Back to top</strong></a></p>
      </nav>
    </footer>

    {% block content %}
    {% endblock %}

</body>

</html>